em {
	color: #c7254e;
	font-style: normal;
	background-color: #f9f2f4;
}

#item {
	width: 60%;
	margin-bottom: 2em;
}

a {
	color: #005EBB;;
}

#search-container {
	width: 102%;
	background-color: #fefefe;
	padding-top: 2em;
	margin-left: -9em;
}

#search-form {
	margin-top: 3em;
}

.container {
	margin-left: 8em;
}

.pagination {
	margin-left: -1em;
}

#ninja {
	float: left;
	margin-right: -1em;
}

.pagination .active a  {
	background-color: #000;
	border-color: #000;
}
.pagination .active a:hover {
	background-color: red;
	border-color: red;
}
.pagination> li> a {
	color: #000;
}
.pagination> li> a:hover {
	color: red;
}
