{% extends 'result_base.html' %}
{% block result %}
    {% for r in res['hits']['hits'] %}
        <div id="item">
            <p>{{r['_source']['content']}}</p>
        </div>
    {% endfor %}

    <!-- pages -->
    <ul class="row pagination">
    {% if (current-1) in pages %}
        <li><a href="/reply?q={{q}}&from={{(current-1)*10}}&s={{s}}">&laquo;</a></li>
    {% endif %}
    {% for num in pages %}
        {% if num == current %}
            <li class="active">
        {% else %}
            <li>
        {% endif %}
        <a href="/reply?q={{q}}&from={{num*10}}&s={{s}}">{{num}}</a></li>
    {% endfor %}
    {% if (current+1) in pages %}
        <li><a href="/reply?q={{q}}&from={{(current+1)*10}}&s={{s}}">&raquo;</a></li>
    {% endif %}
    </ul>
    <!-- pages end-->
{% endblock %}